h2 {
    text-align: center;
}

.attendance__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.attendance__alert--danger {
    padding: 10px 0;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.attendance__alert--danger ul {
    margin: 0;
}

.attendance__panel {
    margin-left: 230px;
    width: 30%;
    display: flex;
    /* justify-content: space-between; */
    padding-bottom: 60px
}

.attendance__button {
    /* width: 450px; */
    text-align: center;
}

.attendance__button-submit {
    margin-right: 50px;
    width: 450px;
    height: 230px;
    border: none;
    border-radius: 3px;
    background: white;
    color: black;
    cursor: pointer;
    font-size: 30px;
}

.attendance__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 100%;
    background-color: rgb(244, 242, 242);
    padding-bottom: 0px;
}

.footer__inner {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
}